:root{
  /*variables de colores */
  --primary-color: #000000;
  --secondary-color: #CE4834;
  --third-color: #111111;
  --fouth-color: #3E130B;
  --fifth-color:  #27ae60 ;
  --text-color: #FFFFFF;
  --text-color-dark: #3E3E3E;
}
*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/Fuentes/Roboto-Bold.ttf');
}
body{
  font-family: 'Roboto';
  background-color: var(--primary-color);
}
.container{
  width: 80%;
  margin: 0px auto;
}
.app-spinner{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 890px) {
  .container{
    width: 90%;
  }
}